body {
    background-color: #004aad;
}

#mainBox {
    padding: 0;
    margin: 0;
    min-width: 100%;
}

#mainBoxContent {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.brackets-viewer {
    /* Colors */
    --primary-background: #004aad;
    --secondary-background: #000000;
    --match-background: #1c2835;
    --font-color: #ffffff;
    --win-color: #50b649;
    --loss-color: #e61a1a;
    --label-color: #ffffff;
    --hint-color: #9ac1f4;
    --connector-color: #ffffff;
    --border-color: var(--primary-background);
    --border-hover-color: #b6b5b5;
}