body {
    background-color: #004aad;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: white;
    padding: 0;
    margin: 0;
    font-family: "Kode Mono";
    text-align: center;
}

#mainBox {
    padding: 0;
    margin: 0;
    min-width: 100%;
}

#mainBoxContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titleImage,
#siteTitle {
    max-width: 90%;
    max-height: max-content;
    overflow: scroll;
}


.brackets-viewer {
    --primary-background: #004aad;
    --secondary-background: #000000;
    --match-background: #1c2835;
    --font-color: #ffffff;
    --win-color: #50b649;
    --loss-color: #e61a1a;
    --label-color: #ffffff;
    --hint-color: #9ac1f4;
    --connector-color: #ffffff;
    --border-color: var(--primary-background);
    --border-hover-color: #b6b5b5;
    margin: 0;
    width: 90%;
    align-items: center;
    padding: 0;
}

.elimination {
    width: 100%;
    overflow: scroll;
}